body{
   background-color: #f0f0f0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d40050;
  height: 112px;
  width: 100%;
}
.logo{
  display: inline-block;
  width: 11rem;
  margin-left: 150px;
}
.nav{
  margin-right: 150px;
}
.nav li{
  display: inline-block;
  position: relative;
  color: white;
  margin-left: 30px;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: bold;
}
.nav li a.active{
  border-radius: 3px;
  background-color: #aa0040;
  padding: 5px 12px 5px 12px;
}
.nav li a.active:after{
  content: ' ';
  width: 0px;
  height: 0px;
  border-top: 10px solid #aa0040;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position:absolute;
  left: 50%;
  top: 100%;
  margin-left: -10px;
}
.nav li a:hover{
  color: #cecece;
  transition: all 500ms ease;
}
.selectedprojectsblock{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 75px;
  width: 100%;
}
.selectedprojectsnav{
  margin-right: 150px;
}
.selectedprojectsheadtext{
  display: inline-block;
  font-family: 'Lato';
  font-size: 24px;
  color: #cecece;
  margin-left: 150px;
}
.selectedprojectsnav li{
  font-family: 'Lato';
  display: inline-block;
  position: relative;
  color: #bebebe;
  font-size: 12px;
  margin-left: 15px;
  font-weight: bold;
}
.selectedprojectsnav li a.active{ /* Mun þurfa að nota JS hérna */
  border-radius: 3px;
  background-color: #eaeaea;
  padding: 3px 9px 3px 9px;
}
a{
  color: inherit;
  text-decoration: none;
}
.bold{
  font-weight: bold;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.haegri{
  margin-right: 150px;
}
.vinstri{
  display: inline-block;
  font-weight: bolder;
  font-family: 'Lato';
  font-size: 12px;
  color: black;
  margin-left: 150px;
}
.haegri li{
  font-family: 'Lato';
  display: inline-block;
  position: relative;
  color: #bebebe;
  font-size: 12px;
  margin-left: 15px;
  font-weight: bold;
}
.projectskort{
  margin-top: 10px;
  width: 228px;
  height: 270px;
  background-color: white;
  border-radius: 3px;
  margin-left: 100px;
}
.projectskort img{
  width: 210px;
  margin-top: 9px;
  margin-left: 9px;
}
