body{
   background-color: #f0f0f0;
}
.header{
  display: flex;
  align-items: center;
  background-color: #d40050;
  height: 112px;
  width: 100%;
}
.logo{
  display: inline-block;
  margin-left: 150px;
  width: 11rem;
}
.nav{
  position: relative;
  display: flex;
  justify-content: flex-end;

}
.nav li{
  display: inline-block;
  position: relative;
  color: white;
  margin-left: 30px;
  font-family: 'Lato';
  font-size: 15px;
}
footer{
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.selectedprojectsblock{
  display: flex;
  align-items: center;
  background-color: white;
  height: 75px;
  width: 100%;
}
.selectedprojectsheadtext{
  display: inline-block;
  font-family: 'Lato';
  font-size: 24px;
  margin-left: 150px;
  color: #cecece;
}
.selectedprojectsnav{
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.selectedprojectsnav li{
  font-family: 'Lato';
  display: inline-block;
  position: relative;
  color: #bebebe;
  font-size: 12px;
}
}
}
